<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="faCoffee"></fa-icon>
        Recipe Book
    </a>
    <div class="collapse navbar-collapse" style="font-size: medium">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown nav-item active">
          <a style="cursor: pointer;" class="dropdown-toggle nav-link" role="button" appDropdownToggle>Manage</a>
          <div style="cursor: pointer;" class="dropdown-menu">
            <a class="dropdown-item">Save Data</a>
            <a class="dropdown-item">Fetch Data</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
