<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="name">Name</label>
          <input #nameInput type="text" id="name" class="form-control"/>
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input #amountInput type="number" id="amount" class="form-control"/>
        </div>
      </div>
      <button type="button"
              class="btn btn-success mb-2 mr-sm-2 mb-sm-0"
              (click)="onAddItem()"
      >Add
      </button>
      <button type="button" class="btn btn-danger mb-2 mr-sm-2 mb-sm-0">Delete</button>
      <button type="button" class="btn btn-primary mb-2 mr-sm-2 mb-sm-0">Clear</button>
    </form>
  </div>
</div>
